.theme-dark,
.theme-dark .root-g14mjS,
.theme-dark .force-theme.theme-light,
.theme-light,
.theme-light .root-g14mjS,
.theme-light .force-theme.theme-light {
	--brand-experiment-100: hsl(var(--pox-accent-brand-saturated));
	--brand-experiment-130: hsl(var(--pox-accent-brand-saturated));
	--brand-experiment-160: hsl(var(--pox-accent-brand-saturated));
	--brand-experiment-200: hsl(var(--pox-accent-brand-saturated));
	--brand-experiment-230: hsl(var(--pox-accent-brand-saturated));
	--brand-experiment-260: hsl(var(--pox-accent-brand-saturated));
	--brand-experiment-300: hsl(var(--pox-accent-brand-saturated));
	--brand-experiment-330: hsl(var(--pox-accent-brand-saturated));
	--brand-experiment-360: hsl(var(--pox-accent-brand-saturated));
	--brand-experiment-400: var(--brand-experiment);
	--brand-experiment-430: var(--brand-experiment);
	--brand-experiment-460: var(--brand-experiment);
	--brand-experiment: hsl(var(--pox-accent-brand));
	--brand-experiment-500: var(--brand-experiment);
	--brand-experiment-530: var(--brand-experiment);
	--brand-experiment-560: var(--brand-experiment);
	--brand-experiment-600: var(--brand-experiment);
	--brand-experiment-630: var(--brand-experiment);
	--brand-experiment-660: var(--brand-experiment);
	--brand-experiment-700: var(--brand-experiment);
	--brand-experiment-730: hsl(var(--pox-accent-brand-alt));
	--brand-experiment-760: hsl(var(--pox-accent-brand-alt));
	--brand-experiment-800: hsl(var(--pox-accent-brand-alt));
	--brand-experiment-830: hsl(var(--pox-accent-brand-alt));
	--brand-experiment-860: hsl(var(--pox-accent-brand-alt));
	--brand-experiment-900: hsl(var(--pox-accent-brand-alt));

	--brand-experiment-05a: hsla(var(--pox-accent-brand), 0.05);
	--brand-experiment-10a: hsla(var(--pox-accent-brand), 0.1);
	--brand-experiment-15a: hsla(var(--pox-accent-brand), 0.15);
	--brand-experiment-20a: hsla(var(--pox-accent-brand), 0.2);
	--brand-experiment-25a: hsla(var(--pox-accent-brand), 0.25);
	--brand-experiment-30a: hsla(var(--pox-accent-brand), 0.3);
	--brand-experiment-35a: hsla(var(--pox-accent-brand), 0.35);
	--brand-experiment-40a: hsla(var(--pox-accent-brand), 0.4);
	--brand-experiment-45a: hsla(var(--pox-accent-brand), 0.45);
	--brand-experiment-50a: hsla(var(--pox-accent-brand), 0.5);
	--brand-experiment-55a: hsla(var(--pox-accent-brand), 0.55);
	--brand-experiment-60a: hsla(var(--pox-accent-brand), 0.6);
	--brand-experiment-65a: hsla(var(--pox-accent-brand), 0.65);
	--brand-experiment-70a: hsla(var(--pox-accent-brand), 0.7);
	--brand-experiment-75a: hsla(var(--pox-accent-brand), 0.75);
	--brand-experiment-80a: hsla(var(--pox-accent-brand), 0.8);
	--brand-experiment-85a: hsla(var(--pox-accent-brand), 0.85);
	--brand-experiment-90a: hsla(var(--pox-accent-brand), 0.9);
	--brand-experiment-95a: hsla(var(--pox-accent-brand), 0.95);
}
