:root {
	--pox-theme-author: 'KoRrNiK#3933';
	--pox-theme-name: 'Pox';

	--pox-theme-gradient-color-1: hsl(350, 100%, 55%);
	--pox-theme-gradient-color-2: hsl(256, 86%, 58%);

	--pox-theme-gradient: linear-gradient(
		70deg,
		var(--pox-theme-gradient-color-1),
		var(--pox-theme-gradient-color-2)
	);
}

.theme-dark,
.theme-light {
	--pox-primary: hsl(240deg 15% 15%);
	--pox-secondary: hsl(240deg 15% 20%);
	--pox-alt: hsl(240deg 15% 25%);
	--pox-tertiary: hsl(240deg 15% 11%);
	--pox-app-background: hsl(240deg 15% 6%);
	--pox-app-background-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
	--pox-popouts: hsl(240deg 15% 9%);
	--pox-modals: hsl(240deg 15% 16%);
	--pox-bgaccent: hsl(240deg 15% 21%);
	--pox-inputs: hsl(240deg 15% 7%);
	--pox-card: var(--pox-tertiary);
	--pox-scroller-thumb: hsl(var(--pox-accent-brand));
	--pox-scroller-track: hsl(240deg 15% 20%);

	--pox-text-primary: hsl(240deg 15% 90%);
	--pox-text-secondary: hsl(240deg 10% 65%);
	--pox-text-muted: hsl(240deg 10% 60%);
	--pox-text-channels: hsl(240deg 10% 60%);

	--pox-modifier-rgb: 46, 44, 66;
	--pox-interactive-primary: hsl(240deg 15% 90%);
	--pox-interactive-secondary: hsl(240deg 10% 75%);
	--pox-interactive-alt: hsl(240deg 15% 75%);
	--pox-interactive-muted: hsl(240deg 10% 40%);

	--pox-accent-brand-saturated: 45, 75%, 100%;
	--pox-accent-brand: 350, 100%, 75%;
	--pox-accent-brand-alt: 50, 80%, 30%;
	--pox-accent-red: 0, 100%, 70%;
	--pox-accent-orange: 30, 100%, 70%;
	--pox-accent-yellow: 65, 90%, 75%;
	--pox-accent-green: 130, 95%, 65%;
	--pox-accent-green-alt: 130, 72%, 25%;
	--pox-accent-blue: 190, 100%, 80%;
	--pox-accent-purple: 250, 90%, 80%;
	--pox-accent-grey: 250, 10%, 45%;
}
