.activityUserPopout-2MzGCj,
.activityProfile-1712BN {
	.activityName-3YXl6e,
	.headerContainer-1wJjOa,
	h3,
	.nameNormal-2fPMD2 {
		color: var(--text-color) !important;
		font-size: 13px !important;
		font-weight: 500 !important;
	}

	.content-tXPNDw,
	.details-2-ciHo,
	span,
	.detailsWrap-omKn0b,
	.anchor-1MIwyf {
		color: var(--text-color) !important;
		font-size: 10px !important;
	}

	.timestamp-2f1NmH,
	.text-31kWmP {
		color: var(--text-color) !important;
		font-size: 9px !important;
	}

	.colorGrey-2iAG-B {
		background: transparent !important;
		border: 2px solid var(--text-color);
		transition: 0.5s;
		&:hover {
			background: var(--text-color) !important;
			border-color: transparent;
			color: black !important;
		}
	}
	background: linear-gradient(
		45deg,
		hsla(240 100% 75% / 90%) 50%,
		hsla(260 100% 75% / 90%) 100%
	);
	border: 1px solid hsla(240 100% 75% / 90%);
	box-shadow: inset 0 0 5px hsla(260 100% 75% / 90%);

	padding: 10px;
	border-radius: var(--pox-default-rounding);
	margin-bottom: 10px;
	z-index: 1;

	.detailsWrap-omKn0b.textRow-1sENuL[title] {
		&::after {
			content: '';
			width: 100%;
			height: 100%;
			z-index: -2;
			background: linear-gradient(
				45deg,
				hsla(280 100% 50% / 90%) 50%,
				hsla(290 100% 50% / 90%) 100%
			);

			box-shadow: inset 0 0 5px hsla(280 100% 50% / 90%);
			border: 1px solid hsla(290 100% 50% / 90%);
			position: absolute;
			top: 0;
			left: 0;
			transform: scale(1.02);
			border-radius: var(--pox-default-rounding);
		}
	}

	.timeBarUserPopout-qLXZaR,
	.timeBarProfile-1z_HH- {
		&::after {
			content: '';
			width: 100%;
			height: 100%;
			z-index: -1;
			background: linear-gradient(
				45deg,
				hsla(150 100% 40% / 90%) 50%,
				hsla(140 100% 40% / 90%) 100%
			);
			border: 1px solid hsla(150 100% 40% / 100%);
			box-shadow: inset 0 0 5px hsla(140 100% 40% / 90%);
			position: absolute;
			top: 0;
			left: 0;
			transform: scale(1.02);
			border-radius: var(--pox-default-rounding);
		}
	}

	.platformIcon-k3yytQ {
		display: none !important;
		opacity: 0;
	}

	.button-TGAkj4.button-f2h6uQ {
		font-size: 12px;
		background-color: rgba(255 255 255 / 5%);
		border: 1px solid rgba(255 255 255 / 10%);
		border-radius: var(--pox-default-rounding);
		box-shadow: inset 0px 0px 0px 1px rgba(255 255 255 / 5%);
		color: rgba(255 255 255 / 80%);

		&:hover {
			background-color: rgba(255 255 255 / 10%);
			border: 1px solid rgba(255 255 255 / 15%);
			box-shadow: inset 0px -40px 0px 0px rgba(255 255 255 / 10%);
			color: rgba(255 255 255 / 85%);
		}
	}

	.contentNoImagesUserPopout-12NyFa {
		&::after {
			content: '';
			width: 100%;
			height: 100%;
			z-index: -2;
			background: linear-gradient(
				45deg,
				hsla(240 100% 75% / 90%) 50%,
				hsla(260 100% 75% / 90%) 100%
			);
			border: 1px solid hsla(240 100% 75% / 90%);
			box-shadow: inset 0 0 5px hsla(260 100% 75% / 90%);
			position: absolute;
			top: 0;
			left: 0;
			transform: scale(1.02);
			border-radius: var(--pox-default-rounding);
		}
	}

	.xboxAssets-aGhVw8 ~ div::after {
		content: '';
		width: 100%;
		height: 100%;
		z-index: -2;
		background: linear-gradient(
			45deg,
			hsla(140 100% 35% / 90%) 50%,
			hsla(120 60% 50% / 90%) 100%
		);
		border: 1px solid hsla(120 60% 50% / 90%);
		box-shadow: inset 0 0 5px hsla(140 100% 35% / 90%);
		position: absolute;
		top: 0;
		left: 0;
		border-radius: var(--pox-default-rounding);
	}
}

.activityProfile-1712BN {
	margin: 10px;
	border-radius: var(--pox-default-rounding);
}
