#app-mount {
	.notice-2HEN-u {
		margin: 10px 18px 10px 18px;
		border-radius: var(--pox-default-rounding) !important;
		background-color: hsl(var(--pox-accent-brand));
	}

	.notice-2HEN-u.notice-1x8lm- {
		background-size: 200% 200%;
		background-image: var(--pox-theme-gradient);
	}
}
