#app-mount {
	.notice-2HEN-u {
		margin-top: 10px;
		margin-right: 10px;
		border-radius: var(--pox-default-rounding);
	}

	.notice-2HEN-u.notice-1x8lm- {
		background-size: 200% 200%;
		background-image: var(--pox-theme-gradient);
	}
}
