#app-mount {
	.pictureInPicture-1GQX91 {
		.elevationHigh-3KUiqj {
			border-radius: var(--pox-app-rounding);
			box-shadow: 0 0 40px rgb(0 0 0 / 50%);
		}
	}
}

#app-mount {
	form {
		.modalHeader-X-sQsB {
			h3 {
				font-size: 14px;

				~ div {
					font-size: 11px;
				}
			}
		}

		.segmentContainer-358IfE {
			.item-LN5zvA {
				font-size: 12px;
			}
		}

		.sourceName-3Wf8QG {
			font-size: 10px;
		}

		.contents-3ca1mk {
			font-size: 12px;
		}
	}
}
