#app-mount {
	.searchHeader-1r_ZSh {
		.totalResults-2On644 {
			.text-md-normal-304U3g {
				font-size: 13px;
			}
		}

		.item-3XjbnG {
			font-size: 12px;
		}
	}

	.searchFilter-2UfsDk,
	.searchAnswer-23w-CH {
		background-color: var(--background-secondary);
	}

	.container-2McqkF {
		font-size: 13px;
		margin-right: 110px;
		border-radius: var(--pox-default-rounding);
		background-color: var(--background-floating);
		.resultsGroup-cfY57t::before {
			border-top-color: var(--background-modifier-accent-alt);
		}
		.focused-2FU0YH {
			border-bottom: none;
			background-color: var(--background-floating);
		}
		.option-ayUoaq {
			margin: 0;
			padding: 0 15px;
			border-radius: 0;
			font-size: 11px;

			&::after {
				background: none;
			}
		}
	}
}
