#app-mount {
	.searchFilter-2UfsDk {
		background-color: var(--background-secondary);
	}

	.container-2McqkF {
		margin-right: 110px;
		border-radius: var(--pox-default-rounding);
		background-color: var(--background-floating);
		.resultsGroup-cfY57t::before {
			border-top-color: var(--background-modifier-accent-alt);
		}
		.focused-2FU0YH {
			border-bottom: none;
			background-color: var(--background-floating);
		}
		.option-ayUoaq {
			margin: 0;
			padding: 0 20px;
			border-radius: 0;

			&::after {
				background: none;
			}
		}
	}
}
