.browser-mnQ1T7.container-18GwIk {
	.header-3_zmOb {
		h3 {
			font-size: 12px;
		}

		button {
			font-size: 12px;
		}
	}

	.list-3YHPPb {
		.container-2c4_8A {
			h3 {
				font-size: 13px;
			}
			.text-md-normal-304U3g {
				font-size: 12px;
			}

			button {
				font-size: 12px;
			}
		}
	}
}
