#app-mount {
	.wrapper-1z1z-S {
		background: linear-gradient(
			45deg,
			hsla(269 52.7% 52.7% / 40%),
			hsla(296 50% 51.4% / 40%) 50%,
			hsla(325 31.7% 51.8% / 40%)
		);

		.cta-1idp93 {
			border-radius: var(--pox-default-rounding);
			background: linear-gradient(
				45deg,
				hsla(269 52.7% 52.7% / 60%),
				hsla(296 50% 51.4% / 60%) 50%,
				hsla(325 31.7% 51.8% / 60%)
			);
			border: 1px solid hsla(325 31.7% 51.8% / 30%);
			box-shadow: inset 0 0 5px hsla(325 31.7% 51.8% / 80%);
			margin: 5px;
			.copy-1zzTJH,
			.copy-1zzTJH u {
				font-size: 12px;
				text-decoration: none;
			}
		}
		.dismiss-25380L {
			right: 5px;
		}
	}

	.root-8LYsGj {
		overflow: visible;
		border-radius: 0;

		.tabBarContainer-sCZC4w {
			position: absolute;
			left: -57px;
			height: 100%;
			width: 56px;
			border-left: 1px solid var(--background-floating);
			border-bottom: 1px solid var(--background-floating);
			border-top: 1px solid var(--background-floating);
			border-right: 1px solid var(--background-tertiary);
			border-bottom: none;
			border-top: none;
			padding: 0;
			background: var(--background-floating);
			z-index: 1;
			top: 0px;
			border-radius: var(--pox-app-rounding) 0 0 var(--pox-app-rounding);
			overflow: hidden;
		}

		.tabBar-2hXqzU {
			flex-direction: column;
		}

		.tabBarItem-30Te4- {
			border: none;
			position: relative;
			overflow: visible;
			font-size: 0;
			height: 48px;
			margin: 0;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			&::after {
				content: '';
				width: 24px;
				height: 24px;
				background: var(--interactive-normal);
			}

			&[aria-controls='user_info-tab']::after {
				-webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor"><path d="M12 22.75C6.07 22.75 1.25 17.93 1.25 12C1.25 6.07 6.07 1.25 12 1.25C17.93 1.25 22.75 6.07 22.75 12C22.75 17.93 17.93 22.75 12 22.75ZM12 2.75C6.9 2.75 2.75 6.9 2.75 12C2.75 17.1 6.9 21.25 12 21.25C17.1 21.25 21.25 17.1 21.25 12C21.25 6.9 17.1 2.75 12 2.75Z M12 13.75C11.59 13.75 11.25 13.41 11.25 13V8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V13C12.75 13.41 12.41 13.75 12 13.75Z M12 16.9989C11.87 16.9989 11.74 16.9689 11.62 16.9189C11.5 16.8689 11.39 16.7989 11.29 16.7089C11.2 16.6089 11.13 16.5089 11.08 16.3789C11.03 16.2589 11 16.1289 11 15.9989C11 15.8689 11.03 15.7389 11.08 15.6189C11.13 15.4989 11.2 15.3889 11.29 15.2889C11.39 15.1989 11.5 15.1289 11.62 15.0789C11.86 14.9789 12.14 14.9789 12.38 15.0789C12.5 15.1289 12.61 15.1989 12.71 15.2889C12.8 15.3889 12.87 15.4989 12.92 15.6189C12.97 15.7389 13 15.8689 13 15.9989C13 16.1289 12.97 16.2589 12.92 16.3789C12.87 16.5089 12.8 16.6089 12.71 16.7089C12.61 16.7989 12.5 16.8689 12.38 16.9189C12.26 16.9689 12.13 16.9989 12 16.9989Z" /></svg>');
				mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor"><path d="M12 22.75C6.07 22.75 1.25 17.93 1.25 12C1.25 6.07 6.07 1.25 12 1.25C17.93 1.25 22.75 6.07 22.75 12C22.75 17.93 17.93 22.75 12 22.75ZM12 2.75C6.9 2.75 2.75 6.9 2.75 12C2.75 17.1 6.9 21.25 12 21.25C17.1 21.25 21.25 17.1 21.25 12C21.25 6.9 17.1 2.75 12 2.75Z M12 13.75C11.59 13.75 11.25 13.41 11.25 13V8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V13C12.75 13.41 12.41 13.75 12 13.75Z M12 16.9989C11.87 16.9989 11.74 16.9689 11.62 16.9189C11.5 16.8689 11.39 16.7989 11.29 16.7089C11.2 16.6089 11.13 16.5089 11.08 16.3789C11.03 16.2589 11 16.1289 11 15.9989C11 15.8689 11.03 15.7389 11.08 15.6189C11.13 15.4989 11.2 15.3889 11.29 15.2889C11.39 15.1989 11.5 15.1289 11.62 15.0789C11.86 14.9789 12.14 14.9789 12.38 15.0789C12.5 15.1289 12.61 15.1989 12.71 15.2889C12.8 15.3889 12.87 15.4989 12.92 15.6189C12.97 15.7389 13 15.8689 13 15.9989C13 16.1289 12.97 16.2589 12.92 16.3789C12.87 16.5089 12.8 16.6089 12.71 16.7089C12.61 16.7989 12.5 16.8689 12.38 16.9189C12.26 16.9689 12.13 16.9989 12 16.9989Z" /></svg>');
			}

			&[aria-controls='activity-tab']::after {
				-webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor"><path d="M15 22.75H9C3.57 22.75 1.25 20.43 1.25 15V9C1.25 3.57 3.57 1.25 9 1.25H15C20.43 1.25 22.75 3.57 22.75 9V15C22.75 20.43 20.43 22.75 15 22.75ZM9 2.75C4.39 2.75 2.75 4.39 2.75 9V15C2.75 19.61 4.39 21.25 9 21.25H15C19.61 21.25 21.25 19.61 21.25 15V9C21.25 4.39 19.61 2.75 15 2.75H9Z M7.33011 15.2381C7.17011 15.2381 7.01011 15.1881 6.87011 15.0781C6.54011 14.8281 6.48011 14.3581 6.73011 14.0281L9.11011 10.9381C9.40011 10.5681 9.81011 10.3281 10.2801 10.2681C10.7401 10.2081 11.2101 10.3381 11.5801 10.6281L13.4101 12.0681C13.4801 12.1281 13.5501 12.1281 13.6001 12.1181C13.6401 12.1181 13.7101 12.0981 13.7701 12.0181L16.0801 9.03805C16.3301 8.70805 16.8101 8.64805 17.1301 8.90805C17.4601 9.15805 17.5201 9.62805 17.2601 9.95805L14.9501 12.9381C14.6601 13.3081 14.2501 13.5481 13.7801 13.5981C13.3101 13.6581 12.8501 13.5281 12.4801 13.2381L10.6501 11.7981C10.5801 11.7381 10.5001 11.7381 10.4601 11.7481C10.4201 11.7481 10.3501 11.7681 10.2901 11.8481L7.91011 14.9381C7.78011 15.1381 7.56011 15.2381 7.33011 15.2381Z" /></svg>');
				mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor"><path d="M15 22.75H9C3.57 22.75 1.25 20.43 1.25 15V9C1.25 3.57 3.57 1.25 9 1.25H15C20.43 1.25 22.75 3.57 22.75 9V15C22.75 20.43 20.43 22.75 15 22.75ZM9 2.75C4.39 2.75 2.75 4.39 2.75 9V15C2.75 19.61 4.39 21.25 9 21.25H15C19.61 21.25 21.25 19.61 21.25 15V9C21.25 4.39 19.61 2.75 15 2.75H9Z M7.33011 15.2381C7.17011 15.2381 7.01011 15.1881 6.87011 15.0781C6.54011 14.8281 6.48011 14.3581 6.73011 14.0281L9.11011 10.9381C9.40011 10.5681 9.81011 10.3281 10.2801 10.2681C10.7401 10.2081 11.2101 10.3381 11.5801 10.6281L13.4101 12.0681C13.4801 12.1281 13.5501 12.1281 13.6001 12.1181C13.6401 12.1181 13.7101 12.0981 13.7701 12.0181L16.0801 9.03805C16.3301 8.70805 16.8101 8.64805 17.1301 8.90805C17.4601 9.15805 17.5201 9.62805 17.2601 9.95805L14.9501 12.9381C14.6601 13.3081 14.2501 13.5481 13.7801 13.5981C13.3101 13.6581 12.8501 13.5281 12.4801 13.2381L10.6501 11.7981C10.5801 11.7381 10.5001 11.7381 10.4601 11.7481C10.4201 11.7481 10.3501 11.7681 10.2901 11.8481L7.91011 14.9381C7.78011 15.1381 7.56011 15.2381 7.33011 15.2381Z" /></svg>');
			}

			&[aria-controls='mutual_guilds-tab']::after {
				-webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor"><path d="M19.32 2H4.68C3.21 2 2 3.21 2 4.68V7.31C2 8.79 3.21 10 4.68 10H19.31C20.79 10 22 8.79 22 7.32V4.68C22 3.21 20.79 2 19.32 2ZM6.75 7C6.75 7.41 6.41 7.75 6 7.75C5.59 7.75 5.25 7.41 5.25 7V5C5.25 4.59 5.59 4.25 6 4.25C6.41 4.25 6.75 4.59 6.75 5V7ZM10.75 7C10.75 7.41 10.41 7.75 10 7.75C9.59 7.75 9.25 7.41 9.25 7V5C9.25 4.59 9.59 4.25 10 4.25C10.41 4.25 10.75 4.59 10.75 5V7ZM18 6.75H14C13.59 6.75 13.25 6.41 13.25 6C13.25 5.59 13.59 5.25 14 5.25H18C18.41 5.25 18.75 5.59 18.75 6C18.75 6.41 18.41 6.75 18 6.75Z M19.32 14H4.68C3.21 14 2 15.21 2 16.68V19.31C2 20.79 3.21 22 4.68 22H19.31C20.79 22 21.99 20.79 21.99 19.32V16.69C22 15.21 20.79 14 19.32 14ZM6.75 19C6.75 19.41 6.41 19.75 6 19.75C5.59 19.75 5.25 19.41 5.25 19V17C5.25 16.59 5.59 16.25 6 16.25C6.41 16.25 6.75 16.59 6.75 17V19ZM10.75 19C10.75 19.41 10.41 19.75 10 19.75C9.59 19.75 9.25 19.41 9.25 19V17C9.25 16.59 9.59 16.25 10 16.25C10.41 16.25 10.75 16.59 10.75 17V19ZM18 18.75H14C13.59 18.75 13.25 18.41 13.25 18C13.25 17.59 13.59 17.25 14 17.25H18C18.41 17.25 18.75 17.59 18.75 18C18.75 18.41 18.41 18.75 18 18.75Z" /></svg>');
				mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor"><path d="M19.32 2H4.68C3.21 2 2 3.21 2 4.68V7.31C2 8.79 3.21 10 4.68 10H19.31C20.79 10 22 8.79 22 7.32V4.68C22 3.21 20.79 2 19.32 2ZM6.75 7C6.75 7.41 6.41 7.75 6 7.75C5.59 7.75 5.25 7.41 5.25 7V5C5.25 4.59 5.59 4.25 6 4.25C6.41 4.25 6.75 4.59 6.75 5V7ZM10.75 7C10.75 7.41 10.41 7.75 10 7.75C9.59 7.75 9.25 7.41 9.25 7V5C9.25 4.59 9.59 4.25 10 4.25C10.41 4.25 10.75 4.59 10.75 5V7ZM18 6.75H14C13.59 6.75 13.25 6.41 13.25 6C13.25 5.59 13.59 5.25 14 5.25H18C18.41 5.25 18.75 5.59 18.75 6C18.75 6.41 18.41 6.75 18 6.75Z M19.32 14H4.68C3.21 14 2 15.21 2 16.68V19.31C2 20.79 3.21 22 4.68 22H19.31C20.79 22 21.99 20.79 21.99 19.32V16.69C22 15.21 20.79 14 19.32 14ZM6.75 19C6.75 19.41 6.41 19.75 6 19.75C5.59 19.75 5.25 19.41 5.25 19V17C5.25 16.59 5.59 16.25 6 16.25C6.41 16.25 6.75 16.59 6.75 17V19ZM10.75 19C10.75 19.41 10.41 19.75 10 19.75C9.59 19.75 9.25 19.41 9.25 19V17C9.25 16.59 9.59 16.25 10 16.25C10.41 16.25 10.75 16.59 10.75 17V19ZM18 18.75H14C13.59 18.75 13.25 18.41 13.25 18C13.25 17.59 13.59 17.25 14 17.25H18C18.41 17.25 18.75 17.59 18.75 18C18.75 18.41 18.41 18.75 18 18.75Z" /></svg>');
			}

			&[aria-controls='mutual_friends-tab']::after {
				-webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor"><path d="M12 2C9.38 2 7.25 4.13 7.25 6.75C7.25 9.32 9.26 11.4 11.88 11.49C11.96 11.48 12.04 11.48 12.1 11.49C12.12 11.49 12.13 11.49 12.15 11.49C12.16 11.49 12.16 11.49 12.17 11.49C14.73 11.4 16.74 9.32 16.75 6.75C16.75 4.13 14.62 2 12 2Z M17.0809 14.1489C14.2909 12.2889 9.74094 12.2889 6.93094 14.1489C5.66094 14.9989 4.96094 16.1489 4.96094 17.3789C4.96094 18.6089 5.66094 19.7489 6.92094 20.5889C8.32094 21.5289 10.1609 21.9989 12.0009 21.9989C13.8409 21.9989 15.6809 21.5289 17.0809 20.5889C18.3409 19.7389 19.0409 18.5989 19.0409 17.3589C19.0309 16.1289 18.3409 14.9889 17.0809 14.1489Z" /></svg>');
				mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor"><path d="M12 2C9.38 2 7.25 4.13 7.25 6.75C7.25 9.32 9.26 11.4 11.88 11.49C11.96 11.48 12.04 11.48 12.1 11.49C12.12 11.49 12.13 11.49 12.15 11.49C12.16 11.49 12.16 11.49 12.17 11.49C14.73 11.4 16.74 9.32 16.75 6.75C16.75 4.13 14.62 2 12 2Z M17.0809 14.1489C14.2909 12.2889 9.74094 12.2889 6.93094 14.1489C5.66094 14.9989 4.96094 16.1489 4.96094 17.3789C4.96094 18.6089 5.66094 19.7489 6.92094 20.5889C8.32094 21.5289 10.1609 21.9989 12.0009 21.9989C13.8409 21.9989 15.6809 21.5289 17.0809 20.5889C18.3409 19.7389 19.0409 18.5989 19.0409 17.3589C19.0309 16.1289 18.3409 14.9889 17.0809 14.1489Z" /></svg>');
			}

			&:hover {
				background: var(--background-modifier-hover);

				&::after {
					background: var(--interactive-hover);
				}
			}

			&.selected-g-kMVV {
				color: hsl(var(--pox-accent-brand));
				text-shadow: 0 0 5px hsl(var(--pox-accent-brand));

				&::before {
					content: '';
					position: absolute;
					bottom: -1px;
					left: 0;
					width: 2px;
					height: 100%;
					background: hsl(var(--pox-accent-brand));
					box-shadow: 0 0 5px hsl(var(--pox-accent-brand));
				}

				&::after {
					background: hsl(var(--pox-accent-brand));
				}
			}
		}
	}

	.topSection-13QKHs {
		background: transparent;
		border-top: 10px solid var(--background-floating);
		border-right: 10px solid var(--background-floating);
		border-left: 10px solid var(--background-floating);

		.customStatus-kFfkj5 {
			background: var(--background-tertiary);
			padding: 10px;
			border-radius: var(--pox-app-rounding);
		}

		.banner-1YaD3N {
			clip-path: polygon(
				50% 0%,
				100% 0,
				100% 70%,
				80% 90%,
				20% 90%,
				0 70%,
				0 0
			);
			border-radius: var(--pox-app-rounding);
			filter: saturate(1.5);
		}
	}

	.header-S26rhB {
		position: unset;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0 24px;
		box-sizing: border-box;
		margin-top: -60px;

		.avatar-3QF_VA {
			position: relative;
			left: 0;
			margin-left: 0;
			top: 0;
		}
	}

	.headerTop-1PNKck {
		position: static;
		margin-bottom: 30px;
		background: var(--background-tertiary);
		padding: 10px;
		border-radius: var(--pox-app-rounding);

		& > .badgeList-2aoHPw:empty:after {
			content: '';
			background-color: var(--background-floating);
			position: absolute;
			width: 32px;
			height: 32px;
			right: 25px;
			top: 150px;
		}
	}

	.badgeList-2aoHPw {
		padding-right: 0;
		margin-right: 0;
	}

	.nameTag-2Nlmsy {
		margin: 12px 24px 24px;
	}

	.relationshipButtons-3ByBpj {
		position: absolute;
		bottom: 16px;
		left: -38px;
		flex-direction: column;
		z-index: 2;

		.actionButton-iarQTd {
			display: none;
		}

		.contents-3ca1mk {
			position: absolute;
			top: -46px;
			background: var(--background-primary);
			padding: 10px 12px;
			border-radius: var(--pox-app-rounding);
			border: 1px solid 10px;
			backdrop-filter: blur(10px);
			overflow: visible;
			opacity: 0;
			visibility: hidden;
			transition: 2;
			transition-property: opacity, visibility;
			pointer-events: none;
			user-select: none;
		}

		.additionalActionsIcon-3Cy8UU {
			margin-left: 0;
		}
	}

	.body-1Ukv50 {
		background: transparent;
		height: 100%;
		min-height: 340px;
		max-height: 340px;
		border-top: 1px solid 10px;

		textarea,
		.userInfoText-2MFCmH.markup-eYLPri.clamped-2ZePhX {
			background: var(--background-tertiary);
			padding: 10px;
			border-radius: var(--pox-app-rounding);
		}
	}

	.infoScroller-1QMpon {
		padding: 24px !important;

		& > div[style*='height: 24px'] {
			display: none;
		}
	}

	.userInfoSection-2u2hir {
		padding: 0;
		border: none;

		& + .userInfoSection-2u2hir {
			margin-top: 42px;
		}
	}

	.userBio-2-tr00 {
		margin-bottom: 24px;
	}

	.connectedAccounts-1YaT2t {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 24px;
	}

	.connectedAccount-1xKpli {
		margin: 0;
		width: 100%;
		box-sizing: border-box;
		border-radius: 0 var(--pox-app-rounding) var(--pox-app-rounding) 0;
		border-color: var(--border);
		padding: 12px 16px 12px 18px;
		position: relative;
	}

	.connectedAccountName-j0meX4 {
		line-height: normal;
		max-width: 140px;
	}

	.connectedAccountNameInner-t24B11 {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 2px;
			background: hsl(var(--pox-accent-brand));
			box-shadow: 0 0 5px hsl(var(--pox-accent-brand));
		}
	}

	.note-3M15gE {
		margin: 0;
	}

	.listScroller-entkMk {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(20, 0fr);
		gap: 10px;
		padding-left: 8px;
		margin-left: 20px;
		margin-right: 20px;

		.listRow-2nO1T6 {
			position: relative;
			z-index: 1;
			height: 44px;
			margin: 0;
			padding-left: 10px;
			border-radius: var(--pox-app-rounding);
			overflow: hidden;
			border-left: 3px solid var(--brand-experiment-50a);
			box-shadow: inset 0 0 25px var(--background-tertiary);
			transition: 0.2s all;
			background-image: linear-gradient(
					90deg,
					var(--brand-experiment-05a) 10%,
					var(--background-tertiary) 50%,
					var(--background-tertiary) 100%
				),
				url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%233F1F43' fill-opacity='0.7' fill-rule='evenodd'/%3E%3C/svg%3E");
			animation: background-rotate forwards linear infinite 30s;

			&:hover {
				border-radius: var(--pox-app-rounding);
				background: linear-gradient(
					90deg,
					var(--brand-experiment-10a) 15%,
					var(--background-tertiary) 55%,
					var(--background-tertiary) 100%
				) !important;
				border-left: 3px solid var(--brand-experiment-60a) !important;
				transition: 0.2s all;
			}

			.listAvatar-2bU5Uh {
				filter: drop-shadow(0 0 5px var(--background-tertiary)),
					drop-shadow(0 0 10px var(--background-tertiary)),
					drop-shadow(0 0 15px var(--background-tertiary)),
					drop-shadow(0 0 20px var(--background-tertiary));
			}
		}

		.empty-2zcusz {
			grid-column: 1/3;
			grid-row: 1/22;
			position: relative;
			z-index: 0;
			overflow: hidden;
			margin: 0;
			padding-left: 10px;
			border-radius: var(--pox-app-rounding);

			.emptyIconFriends-2LNxTX {
				position: absolute;
				z-index: -1;
				width: 80%;
				height: 80%;
				margin-left: -10px;
				opacity: 0.2;
				background-size: 100%;
			}
		}

		.activityProfile-1712BN {
			grid-column: 1/3;
		}
	}

	.listRow-2nO1T6 {
		margin: 0;
		padding: 8px 10px;

		&:hover {
			background: var(--background-modifier-hover);
			border-radius: 0;
		}
	}

	.listAvatar-1BbvHX.iconActiveMedium-27_R5B {
		border-radius: var(--pox-app-rounding);
	}

	.loadingPopout-1feYe_ {
		background: var(--background-secondary);
	}

	.userPopout-2j1gM4 {
		border: 10px solid var(--background-tertiary);
		box-shadow: unset !important;
		margin-right: 20px;
		border-radius: var(--pox-app-rounding);

		max-height: 700px;
		overflow: auto;

		&::-webkit-scrollbar {
			display: none;
		}

		.banner-1YaD3N {
			width: 300px;
			-webkit-mask-image: linear-gradient(#000000c2, #000000c2);
			mask-image: linear-gradient(#000000c2, #000000c2);
			box-shadow: inset 0 0 15px rgba(0 0 0 / 30%);

			&.bannerPremium-kkSkPv {
				background-color: transparent !important;
			}
		}

		.rolesList-3uZoaa {
			&::-webkit-scrollbar {
				display: none;
			}

			.roleRemoveButton-17oXnT {
				position: static;
			}

			.role-2TIOKu {
				transform: translate(0);

				position: relative;
				overflow: hidden;
				z-index: 1;
				border: none;
				background: transparent;

				.roleRemoveIcon-387wKV {
					left: 14px;
				}

				.roleCircle-1EgnFN {
					width: 10px !important;
					height: 10px !important;

					&::before {
						position: absolute;
						content: '';
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: inherit;
						opacity: 0.2;
						z-index: -1;
					}
				}

				.addButtonIcon-3HZ_2f {
					left: 8px;
					position: absolute;
				}

				.roleCircle-3K9O3d {
					&::after {
						content: '';
						position: absolute;
						background: inherit;
						top: 0;
						left: 0;
						z-index: -1;
						width: 100%;
						height: 100%;
						opacity: 0.2;
						border-top-right-radius: var(--pox-default-rounding);
						border-bottom-right-radius: var(--pox-default-rounding);
					}

					&::before {
						content: '';
						position: absolute;
						background: inherit;
						top: 0;
						left: 0;
						z-index: -1;
						width: 2px;
						height: 100%;
						opacity: 0.5;
						border-right: 1px solid rgba(0, 0, 0, 0.2);
					}
				}
			}

			.addButton-1_dZYu {
				background: var(--background-accent);
				width: 32px;
				border-radius: 32px;
			}
		}

		.headerTop-3GPUSF {
			padding: 60px 16px 16px;
			background: var(--background-tertiary);
			border-radius: var(--pox-default-rounding)
				var(--pox-default-rounding)
				calc(var(--pox-default-rounding) * 3.5)
				calc(var(--pox-default-rounding) * 3.5);
			box-shadow: 0 10px 7px rgba(0 0 0 / 20%),
				inset 0 -1px 10px rgb(0 0 0 / 40%),
				0 -5px 15px rgba(0 0 0 / 30%);
			margin-top: -5px;
			margin-bottom: 5px;
			&::before {
				content: '';
				position: absolute;
				height: 20px;
				z-index: 100;
				width: 300px;
				bottom: 0;
				left: 0;
				background: var(--background-tertiary);
				border-top: 1px solid var(--background-primary);
				animation-delay: 0s;
				opacity: 1;
			}
			@keyframes animate {
				0% {
					-webkit-mask-position-x: 0;
					mask-position-x: 0;
				}
				100% {
					-webkit-mask-position-x: 300px;
					mask-position-x: 300px;
				}
			}

			.headerTagWithNickname-1U8zZH,
			.setIdentityLink-hOFsMl {
				.headerTagUsernameBase-XYisdh,
				.username-3JLfHz {
					font-size: 12px;
					color: var(--text-normal) !important;
					overflow: hidden;
				}
				.discrimBase-1VOoau {
					font-size: 10px;
					color: var(--text-muted) !important;
					overflow: hidden;
				}
			}

			.headerTagDiscriminatorNoNickname-dfcvHa {
				color: var(--text-muted);
				font-size: 16px;
			}

			.profileBadges-2pItdR:not(:empty) {
				top: 5px;
				right: 7px;
				padding: 2px;
				background-color: rgba(0 0 0 / 15%);
				border-radius: var(--pox-default-rounding);
				box-shadow: inset 0 0 3px rgba(0 0 0 / 20%);

				& > * {
					margin: 0;
				}

				img {
					filter: drop-shadow(0px 0px 15px black) saturate(1.5);
				}
			}

			.headerText-1-WmDq {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				position: static;
				justify-content: center;
				max-width: unset;
				right: 0;
				left: 10px;
				bottom: 0;
				top: -10px;
				margin-bottom: 8px;

				h3,
				.headerTagUsernameNoNickname-1TjuLc {
					font-size: 18px;
				}
			}
		}

		.footer-3naVBw {
			padding-top: 10px;
			border-top: 3px solid var(--background-tertiary);
			.inputWrapper-1YNMmM {
				background: var(--background-tertiary);
				margin: 5px;
				border: none;
				border-radius: var(--pox-default-rounding);
				.input-2z42oC {
					background-color: var(--background-tertiary);
					box-shadow: inset 0 0 5px rgba(0 0 0 / 10%);
				}
			}
		}

		.customStatus-3XAoF9 {
			margin-top: 17px !important;
			padding-top: 12px !important;
			&::before {
				content: 'STATUS';
				font-weight: 700;
				color: hsl(240deg 10% 65%);
				position: absolute;
				top: 0;
				left: 15.5px;
				width: 264px;
				height: 15.5px;
			}
		}

		.aboutMeSection-PUghFQ {
			padding-top: 12px;
		}

		.divider-1wtgZ3 {
			display: none;
		}

		.scrollerSeparator-CHLxyV {
			box-shadow: none;
			padding-top: 10px;
			border-top: 3px solid var(--background-tertiary);
		}

		.body-2wLx-E {
			margin-top: 10px;
			padding-top: 10px;

			.bodyInnerWrapper-2bQs1k {
				padding-right: 8px;

				.note-Go5ZP2 {
					margin: 0;
				}

				.userInfoTitle-39qq0Y,
				.bodyTitle-2Az3VQ,
				.customStatus-3XAoF9::before {
					margin: 0;
					margin-left: -3px;
					margin-right: -3px;

					background: linear-gradient(
						45deg,
						var(--background-secondary) 50%,
						var(--background-secondary-alt) 100%
					);

					border-radius: var(--pox-app-rounding)
						var(--pox-app-rounding)
						calc(var(--pox-app-rounding) / 2)
						calc(var(--pox-app-rounding) / 2);
					padding: 5px;
					box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
					border-top: 1px solid var(--background-tertiary);
					border-bottom: 1px solid var(--background-tertiary);
				}

				.userInfoSection-3her-v.userInfoBody-1zgAd0,
				.connections-pPr4as,
				.userInfoBody-1zgAd0.markup-eYLPri.clamped-2ZePhX,
				.customStatus-3XAoF9,
				.note-Go5ZP2,
				.rolesList-3uZoaa {
					margin-top: 0;
					margin-bottom: 10px;
					background: var(--background-tertiary);
					padding: 10px;
					border-radius: 0 0 var(--pox-app-rounding);
					border: 1px solid rgba(0 0 0 / 10%);
					box-shadow: inset 0 0 10px rgba(0 0 0 / 10%);
					font-size: 12px;
				}

				.connections-pPr4as {
					.connection-9Gh4sa {
						padding: 5px;
					}
				}

				.userInfoBody-1zgAd0.markup-eYLPri.clamped-2ZePhX {
					overflow: auto;

					&::-webkit-scrollbar {
						display: none;
					}
				}
			}

			&::-webkit-scrollbar {
				display: none;
			}
		}

		.avatarWrapper-eenWra {
			bottom: 0;
			left: 0;
			.avatarHoverTarget-1zzfRL {
				position: absolute;
				left: 10px;
			}

			.avatar-2Vndt_ {
				border: 3px solid rgba(0 0 0 / 20%);
				background: rgba(0 0 0 / 20%);
				box-shadow: inset 0 0 5px rgba(0 0 0 / 30%);
			}
		}
	}

	.avatarWrapperNormal-ahVUaC:hover .avatarDecorationHint-3n-p6O,
	.avatarWrapperNormal-ahVUaC:hover .avatarHint-k7pYop {
		opacity: 0;
	}

	.body-u1Y8uL {
		background-color: transparent !important;
	}
}

@keyframes background-rotate {
	from {
		background-position: 0 0, 0 0;
	}

	to {
		background-position: 0 0, 320px 640px;
	}
}
