.appMount-2yBXZl {
	background-color: var(--pox-app-background);
	box-shadow: inset 0 0 10px rgb(0 0 0 / 40%);
}

.app-2CXKsg {
	background-color: transparent;

	.bg-1QIAus {
		background-color: transparent;
	}

	.layers-OrUESM {
		margin: var(--pox-app-padding);
		border-radius: var(--pox-app-rounding);
		border: 1px solid rgba(0 0 0 / 30%);
		box-shadow: inset 0 0 10px rgb(0 0 0 / 40%), var(--pox-app-background-shadow);

		background-color: var(--background-tertiary);
		-webkit-app-region: no-drag;

		.layer-86YKbF {
			transform: none !important;
			will-change: unset;
		}
	}
}

.errorPage-2pZ2Kq .buttons-228G5H {
	-webkit-app-region: no-drag;
}

.platform-win .layers-OrUESM {
	margin-top: 0;
}
