#app-mount {
	.chat-2ZfjoI {
		.group-spacing-16 .divider-IqmEqJ {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		.container-1yy5xN {
			h1 {
				font-size: 20px;
			}

			.description-22d6ux {
				font-size: 13px;
			}

			.channelSettingButtons-sCQ_2T {
				.text-md-normal-304U3g {
					font-size: 12px;
				}
			}

			.members-1CYCy_ {
				span {
					font-size: 13px;
				}
			}
		}

		.wrapper-30-Nkg {
			.group-spacing-0.messagesWrapper-RpOMA3 {
				.groupStart-3Mlgv1 {
					--group-spacing: 0.125rem;
				}

				.divider-IqmEqJ.beforeGroup-1BvJAt {
					top: 1px;
				}
			}

			.group-spacing-4.messagesWrapper-RpOMA3 {
				.groupStart-3Mlgv1 {
					--group-spacing: 0.3125rem;
				}

				.divider-IqmEqJ.beforeGroup-1BvJAt {
					top: 2px;
				}
			}

			.group-spacing-8.messagesWrapper-RpOMA3 {
				.groupStart-3Mlgv1 {
					--group-spacing: 0.5625rem;
				}

				.divider-IqmEqJ.beforeGroup-1BvJAt {
					top: 4px;
				}
			}

			.group-spacing-16.messagesWrapper-RpOMA3 {
				.groupStart-3Mlgv1 {
					--group-spacing: 1.0625rem;
				}

				.divider-IqmEqJ.beforeGroup-1BvJAt {
					top: 8px;
				}
			}

			.group-spacing-24.messagesWrapper-RpOMA3 {
				.groupStart-3Mlgv1 {
					--group-spacing: 1.5625rem;
				}

				.divider-IqmEqJ.beforeGroup-1BvJAt {
					top: 12px;
				}
			}

			[class*='group-spacing'].messagesWrapper-RpOMA3 {
				.groupStart-3Mlgv1 {
					margin-top: var(--group-spacing) !important;
				}

				.divider-IqmEqJ:not(.beforeGroup-1BvJAt) {
					top: -4px;
				}
			}

			position: relative;
			background-color: var(--background-secondary) !important;
			transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) background-color;

			&:hover {
				background-color: var(--background-secondary-alt) !important;

				.timestamp-p1Df1m {
					animation: animationTime 0.3s forwards;
				}
			}

			&.automodMessage-265YwJ:before {
				display: none;
			}

			&.hasThread-3h-KJV {
				&:after {
					display: none;
				}

				.markup-eYLPri {
					overflow: visible;
				}

				.container-x059i8 {
					padding: 0;
				}

				.iconContainer-2rPbqG {
					position: absolute;
					width: 40px !important;
					height: 40px;
					top: -8px;
					left: -62px;
					margin-right: 0;
					padding-top: 0;
					background-color: var(--background-secondary-alt);
					border-radius: var(--pox-app-rounding);
				}

				.container-3i3IzO {
					width: 100%;
					padding: 12px;
					background-color: var(--attachment-color);
					border-radius: var(--pox-app-rounding);
					box-sizing: border-box;
				}

				.cta-1XhfrG {
					color: var(--text-normal);
				}
			}

			&.groupStart-3Mlgv1 {
				position: relative;
				border-radius: var(--pox-app-rounding);

				.avatar-2e8lTP {
					width: 40px;
					height: 40px;
					top: 0;
					left: -50px;
					margin-top: 0;
					border-radius: 50%;
				}
			}

			&.replying-eZ7p5z a {
				color: var(--text-normal);
			}

			&:not(.groupStart-3Mlgv1) {
				border-radius: 0 0 var(--pox-app-rounding)
					var(--pox-app-rounding);

				&:before,
				&:after {
					content: ' ';
					position: absolute;
					width: 0;
					height: 0;
					top: 2px;
					background-color: transparent;
					border: 8px solid transparent;
					border-color: transparent;
					pointer-events: none;
				}

				&:before {
					left: 0;
					border-left-color: var(--background-secondary);
					transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1)
						border-left-color;
				}

				&:after {
					right: 0;
					border-bottom-color: var(--background-secondary);
					transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1)
						border-bottom-color;
				}
			}

			&.cozy-VmLDNB {
				&.groupStart-3Mlgv1 {
					border-top: 1px solid var(--background-secondary-alt);
					border-left: 1px solid var(--background-secondary-alt);
					border-right: 1px solid var(--background-secondary-alt);

					margin-bottom: 0;

					&.mentioned-Tre-dv:before {
						display: none;
					}

					padding: 8px 12px !important;
				}

				&:not(.groupStart-3Mlgv1) {
					border-left: 1px solid var(--background-secondary-alt);
					border-right: 1px solid var(--background-secondary-alt);

					margin-top: calc(8px * -1);
					padding: calc(8px / 2) 12px 8px 12px !important;

					.timestamp-p1Df1m {
						animation: none !important;
					}

					&:before,
					&:after {
						margin: -16px 0 0 0;
					}

					&:before {
						border-width: 14px 0 0 6px;
						display: none;
					}

					&:after {
						border-width: 0 0 14px 6px;
						display: none;
					}

					+ .divider-IqmEqJ:not(.beforeGroup-1BvJAt) {
						top: -4px;
					}
				}

				.contents-2MsGLg {
					~ div {
						margin-top: 16px;
						margin-bottom: 5px;
					}

					.attachmentInner-1fP7iq {
						.filenameWrapper-11iVyW {
							.filename-3A5bVl {
								font-size: 13px;
							}
							.progressContainer-39lW07 {
								font-size: 12px;
							}
						}
					}
				}

				.header-2jRmjb {
					background: var(--background-secondary-alt);
					margin: -13px;
					border-radius: 6px 6px 0 0;
					padding: 5px;
					border-bottom: 1px solid var(--background-primary);
					display: flex;
					height: 27px;
					display: flex;
					justify-content: space-between;
					align-content: flex-start;
					flex-wrap: nowrap;
					flex-direction: row;
					align-items: center;

					~ div {
						margin: 0;
						margin-top: 16px;
						font-size: 13px;
					}

					.username-h_Y3Us {
						margin-left: 10px;
						font-size: 14px;
					}

					.timestamp-p1Df1m {
						margin-right: 10px;
						position: absolute;
						right: 0;
					}

					.ownerIcon-255uKo {
						margin-left: 0;
						margin-right: 4px;
					}
				}

				.markup-eYLPri {
					margin-left: 0;
					padding-left: 0;
					font-size: 13px;
				}

				&:hover .timestamp-p1Df1m.alt-1dvXnH {
					opacity: 1;
					transition: 0.2s ease opacity 750ms;
				}

				.timestamp-p1Df1m.alt-1dvXnH {
					opacity: 0;
					left: -72px;
					color: var(--text-muted);
					font-weight: 600;
					transition: 0.2s ease opacity 0ms;
				}

				.removeAttachmentButton-1iO1qS {
					right: 2px;
					top: 2px;
					border-radius: var(--pox-default-rounding);
					border: 1px solid var(--brand-experiment-25a);
					width: 16px;
					height: 16px;
					margin-top: 2px;
					margin-right: 2px;
					background-color: var(--brand-experiment-20a);
					box-shadow: inset 0 0 4px var(--brand-experiment-10a);

					&:hover {
						border: 1px solid var(--brand-experiment-30a);
						background-color: var(--brand-experiment-25a);
						box-shadow: inset 0 0 4px var(--brand-experiment-15a);
					}
				}

				&:not(.message-2CShn3) {
					margin: 16px 26px 0 68px;
					padding: 8px 12px !important;
					border-radius: var(--pox-app-rounding);

					&:before,
					&:after {
						display: none;
					}

					.avatar-2e8lTP {
						top: 0;
						left: -63px;
					}
				}

				.repliedMessage-3Z6XBG {
					background: var(--background-secondary-alt);
					margin-bottom: 5px !important;
					margin: -13px;
					border-radius: 6px 6px 0 0;
					padding: 5px;
					border-bottom: 1px solid var(--background-primary);
					display: flex;
					height: 27px;
					font-size: 11px;
					&:before {
						transform: translateX(42px);
					}

					.replyAvatar-sHd2sU,
					.replyBadge-LMm_Ic,
					.executedCommandAvatar-3oOnb1,
					.userJoinSystemMessageIcon-3FQ_Mo {
						margin-left: 42px;
					}

					~ div.contents-2MsGLg {
						.header-2jRmjb {
							.timestamp-p1Df1m {
								animation: none !important;
								margin-right: 10px !important;
							}
						}
					}
				}
			}

			.content-vSHmMD {
				font-size: 14px !important;
			}

			&.compact-2Nkcau {
				margin-bottom: 0;
				padding-right: 8px !important;

				&.groupStart-3Mlgv1 {
					padding: 8px;

					&.mentioned-Tre-dv:before {
						display: none;
					}

					+ .divider-IqmEqJ {
						margin-bottom: -1px;
					}
				}

				&:not(.groupStart-3Mlgv1) {
					padding: 0 8px 8px 8px;

					&:before,
					&:after {
						margin: -18px 0 0 0;
					}

					&:before {
						border-width: 16px 0 0 14px;
					}

					&:after {
						border-width: 0 0 16px 14px;
					}
				}

				&.hasThread-3h-KJV {
					.contents-2MsGLg:before {
						display: none;
					}

					.content-vSHmMD {
						margin-left: 44px;
					}

					.spine-2vt3pM {
						display: none;
					}
				}

				.header-2jRmjb {
					position: relative;
					left: -8px;
				}

				.timestamp-p1Df1m {
					width: 52px;
					margin-right: 16px;
					color: var(--text-muted);
				}

				+ .divider-IqmEqJ {
					margin-left: 80px;

					&:not(.beforeGroup-1BvJAt) {
						top: -11px;
					}
				}

				.repliedMessage-3Z6XBG {
					margin-left: calc(
						var(--timestamp-width) + 3.1rem + var(--text-indent)
					);
				}

				+ .wrapper-30-Nkg.compact-2Nkcau:not(.message-2CShn3) {
					margin: 16px 20px 0 70px;
				}

				.iconContainer-2rPbqG {
					margin-left: 4.5ch;
				}
			}

			.slateTextArea-27tjG0 {
				padding-left: 12px !important;
			}

			/*&.mentioned-Tre-dv .messageContent-2t3eCI {
				
				position: relative;
				background-color: var(--brand-experiment-15a);
				border: 1px solid var(--brand-experiment-35a);
				border-radius: var(--pox-app-rounding);
				transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) background-color;
				padding: 5px;
				
				&:hover {
					background-color: var(--background-secondary-alt);
					border: 1px solid var(--background-secondary-alt);
				}

				a {
					color: var(--brand-experiment);
				}

				.wrapper-1ZcZW- {
				
					&:before {
						display: none;
					}
				}
			}*/

			.messageContent-2t3eCI {
				overflow: visible;

				.iconContainer-3WHKMP {
					width: 40px;
					top: -8px;
					left: calc((50px + 12px) * -1);
				}
			}

			.buttonContainer-2mjbvo,
			.buttonContainer-1502pf {
				margin-top: 8px;
				margin-left: 0;
			}

			.buttonContainer-2mjbvo .button-f2h6uQ .text-xs-normal-3SiVjE,
			.buttonContainer-1502pf .button-f2h6uQ .text-xs-normal-3SiVjE {
				color: var(--text-normal) !important;
			}

			.buttonContainer-2mjbvo .footerAction-cEV-Po,
			.buttonContainer-1502pf .footerAction-cEV-Po {
				height: 24px;
			}

			.buttonContainer-2mjbvo .footerAction-cEV-Po .footerIcon-3nJDhW,
			.buttonContainer-1502pf .footerAction-cEV-Po .footerIcon-3nJDhW {
				color: var(--text-normal);
			}

			.buttonContainer-2mjbvo
				.footerAction-cEV-Po
				.footerIcon-3nJDhW
				path,
			.buttonContainer-1502pf
				.footerAction-cEV-Po
				.footerIcon-3nJDhW
				path {
				fill: currentColor;
			}

			.dot-KVehus {
				margin: 0 4px;
			}

			.embedCard-bDyD5S {
				background-color: var(--background-secondary-alt);
				border-radius: var(--pox-app-rounding);

				.wrapper-30-Nkg.cozy-VmLDNB:not(.message-2CShn3) {
					margin: 0 0 0 48px;

					.avatar-2e8lTP {
						left: -48px;
					}
				}
			}

			.channelTextArea-1VQBuV .scrollableContainer-15eg7h {
				background-color: var(--background-secondary-alt);
				border-radius: var(--pox-app-rounding);
			}
		}

		.messageListItem-ZZ7v6g,
		.quotedChatMessage-PxNsZi {
			margin-left: 68px;
			margin-right: 26px;
		}

		.messageListItem-ZZ7v6g:hover
			+ .messageListItem-ZZ7v6g
			.wrapper-30-Nkg:not(.groupStart-3Mlgv1) {
			&:before {
				border-left-color: var(--background-secondary-alt);
			}

			&:after {
				border-bottom-color: var(--background-secondary-alt);
			}
		}

		.operations-3q3u6E > a {
			color: var(--text-normal);
		}

		.scrollerSpacer-3AqkT9 {
			height: 20px;
		}

		.mention::selection {
			background: var(--background-secondary-alt);
			color: var(--text-normal);
		}

		.repliedMessage-3Z6XBG:before {
			border-left: none;
			border-top-left-radius: 0px;
			left: calc(
				(var(--avatar-size) / 2 * -1 + var(--gutter) * -1) / 1.3
			);
		}

		border-radius: var(--pox-app-rounding);

		.container-ZMc96U {
			margin-bottom: var(--pox-default-padding);
			border-radius: var(--pox-default-rounding);

			.children-3xh0VB {
				h3 {
					font-size: 13px;
				}
				.topic-11NuQZ.expandable-3CaLeS {
					font-size: 12px;
				}
			}
		}

		margin: var(--pox-default-padding);
		background-color: transparent;

		.content-1jQy2l {
			border-radius: var(--pox-default-rounding);
			background-color: var(--background-primary);

			&::before {
				content: none;
			}

			.form-3gdLxP {
				padding-left: 66px;
				padding-top: 20px;
				border-top: 1px solid var(--background-modifier-accent);
				margin-left: 15px;
				margin-right: 15px;
				background: var(--background-primary) !important;

				.channelTextArea-1FufC0 {
					border-radius: 0;

					.scrollableContainer-15eg7h {
						border-radius: var(--pox-default-rounding);

						.upload-vLbqu- {
							background-color: var(--background-primary);
						}

						.divider-2rZFJK {
							left: 15px;
							right: 15px;
							border-color: var(--background-modifier-accent-alt);
						}

						.separator-3ng7S5::before {
							border-color: var(--background-modifier-accent-alt);
						}

						&::after,
						.wrapper-2SplAX::after {
							position: absolute;
							content: '';
							bottom: 0px;
							left: -52px;
							width: 44px;
							height: 44px;
							background-color: var(--channeltextarea-background);
							border-radius: 50%;
						}

						.fontSize16Padding-XoMpjI {
							font-size: 13px;
						}
					}

					.attachedBars-2BCP3l {
						background-color: var(--channeltextarea-background);

						> div {
							margin: 0 15px;

							.replyBar-1oi75v,
							.threadSuggestionBar-3ExSyc {
								margin: 0 -15px;
								border-bottom: 1px solid
									var(--background-modifier-accent-alt);
								background-color: var(
									--channeltextarea-background
								);
							}

							.separator-8ngZ3p {
								background-color: var(
									--background-modifier-accent-alt
								);
							}

							.replyLabel-WWnhHi,
							.mentionButton-3C5YMI {
								font-size: 10px;
							}
						}

						+ .scrollableContainer-15eg7h {
							border-top-right-radius: 0;
							border-top-left-radius: 0;
						}
					}
				}
			}

			.jumpToPresentBar-1cEnH0 {
				display: flex;
				opacity: 0.9;
				padding: 2px 0;
				margin-bottom: 10px;
				border-radius: var(--pox-default-rounding);
				background-color: var(--background-primary);
				bottom: 5px;
				left: auto;
				justify-content: flex-end;
				border: 1px solid var(--brand-experiment-50a);
				box-shadow: 0 0 5px var(--brand-experiment-20a),
					inset 0 0 5px var(--background-floating);
				.barButtonAlt-TQoCdZ.barButtonBase-Sk2mdB {
					font-size: 10px;

					svg {
						display: none;
					}
				}
				.barButtonMain-2GIx4o.barButtonBase-Sk2mdB {
					display: none;
				}
			}
		}

		.message-2CShn3 {
			& .buttons-3dF5Kd {
				max-width: 32px;
				opacity: 0;
				visibility: visible;
				pointer-events: none;
				transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
					max-width 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
			}
			&.selected-2LX7Jy .buttons-3dF5Kd,
			&:hover .buttons-3dF5Kd {
				max-width: 380px;
				opacity: 1;
				pointer-events: all;
			}

			.wrapper-2vIMkT .button-3bklZh {
				transition: 0.3s ease all;
			}

			margin-left: 5px;
			border-radius: var(--pox-default-rounding);

			&::before {
				top: 6px;
				bottom: 6px;
				left: 5px;
				width: 4px;
				border-radius: 6px;
			}

			&.mentioned-Tre-dv {
				background: linear-gradient(
					90deg,
					var(--brand-experiment-05a) 10%,
					var(--background-secondary) 100%
				);
				border-left: 1px solid var(--brand-experiment-25a) !important;

				/*background-color: var(--brand-experiment-20a) !important;
				border: 1px solid var(--brand-experiment-25a) !important;
				box-shadow: inset 0 0 5px var(--brand-experiment-25a) !important;*/

				&:hover {
					background: linear-gradient(
						90deg,
						var(--brand-experiment-10a) 15%,
						var(--background-secondary-alt) 100%
					);
					border-left: 1px solid var(--brand-experiment-30a) !important;
					/*background-color: var(--brand-experiment-25a) !important;
					border: 1px solid var(--brand-experiment-30a) !important;
					box-shadow: inset 0 0 5px var(--brand-experiment-30a) !important;*/
				}

				.reactionInner-YJjOtT {
					background-color: var(--brand-experiment-40a) !important;
					border: 1px solid var(--brand-experiment-45a) !important;
					border-radius: var(--pox-app-rounding);

					&:hover {
						background-color: var(
							--brand-experiment-45a
						) !important;
						border: 1px solid var(--brand-experiment-50a) !important;
					}
				}
			}
		}

		.reaction-3vwAF2 {
			background-color: var(--background-secondary-alt);
		}

		.divider-2rZFJK {
			&.isUnread-3Lojb- {
				border-color: hsl(var(--pox-accent-red));

				.content-3spvdd {
					color: white;
					background-color: hsl(var(--pox-accent-red));
				}

				.unreadPill-3nEWYM {
					right: unset;
					left: 0;
					height: auto;
					padding: 2px 6px 2px 5px;
					border-radius: 25px;
					box-shadow: 3px 0 0 var(--background-primary);
					background-color: hsl(var(--pox-accent-red));

					.unreadPillCap-2-iI4h {
						display: none;
					}
				}
			}

			.content-3spvdd {
				padding: 2px 7px 3px 6px;
				border-radius: 25px;
				box-shadow: 0 -1px 0 3px var(--background-primary);
				color: var(--header-secondary);
				background-color: var(--background-modifier-accent);
			}
		}

		.newMessagesBar-1hF-9G {
			opacity: 1;
			margin-bottom: 10px;
			background-color: var(--background-primary);
			top: 5px;
			right: 15px;
			left: auto;
			justify-content: flex-end;
			box-shadow: 0 0 5px var(--brand-experiment-20a),
				inset 0 0 5px var(--background-floating);
			padding: 2px 0px;
			border-radius: var(--pox-default-rounding);
			border: 1px solid var(--brand-experiment-50a);
			.barButtonMain-2GIx4o.barButtonBase-Sk2mdB {
				font-size: 10px;
				color: var(--text-normal);
			}

			/*right: 5px;
			top: 0px;
			left: 0px;
			border-radius: var(--pox-default-rounding) 0
				var(--pox-default-rounding) 0;
			background-size: 200% 200%;
			background-image: var(--pox-theme-gradient);*/

			.barButtonAlt-TQoCdZ.barButtonBase-Sk2mdB {
				display: none;
			}
		}

		.wrapper-2vIMkT {
			border-radius: var(--pox-default-rounding);
			background-color: var(--background-floating);
			top: -2.5px;
			right: -13px;
		}
	}

	.noChannel-1GDIAZ {
		margin: var(--pox-default-padding);
		border-radius: var(--pox-default-rounding);
		background-color: var(--background-primary);
	}

	.subscriptionPerks-17BiNa {
		background-color: var(--background-tertiary);
	}

	.typing-2J1mQU {
		margin-left: 50px;
	}
	.base-3bcbY3 .text-3S7XCz {
		font-size: 10px;
	}
}

.ephemeral-2nDdnn.wrapper-30-Nkg:before,
.wrapper-30-Nkg.replying-eZ7p5z:before {
	display: none;
}

.ephemeral-2nDdnn.wrapper-30-Nkg a {
	color: var(--text-normal);
}

@keyframes animationTime {
	to {
		left: 11px;
		bottom: -4px;
		font-size: 8px;
	}
}
