#app-mount {
	.sidebar-1tnWFu + div {
		.background-fkKrXt {
			background-color: var(--background-primary);
		}

		.channelList-24jKfX {
			.container-3HMTms {
				background: var(--background-tertiary);
				padding: 10px;
				border-radius: var(--pox-app-rounding);
			}
		}
	}
}
