#app-mount {
	.content-1SgpWY {
		> :nth-child(2):not(.chat-2ZfjoI) {
			z-index: 2;
		}
	}

	.content-2a4AW9
		.peopleListItem-u6dGxF
		.listItemContents-2n2Uy9
		.userInfo-2WpsYG
		.text-3j8t_e
		.subtext-xfubwR
		.text-MPIeXO {
		font-size: 11px !important;
	}

	.container-2cd8Mz {
		margin: var(--pox-default-padding);
		border-radius: var(--pox-default-rounding);
		background-color: rgba(0, 0, 0, 0);

		.container-ZMc96U {
			margin-bottom: var(--pox-default-padding);
			border-radius: var(--pox-default-rounding);

			.children-3xh0VB {
				h3 {
					font-size: 12px;
				}
				.item-3mHhwr {
					font-size: 11px;
				}
			}
		}

		.tabBody-2dgbAs {
			border-radius: var(--pox-default-rounding);
			background-color: var(--background-primary);
		}

		.scroller-hE2gWq {
			border-left: none;
			h3 {
				font-size: 15px;
			}
		}

		.peopleListItem-u6dGxF,
		.wrapper-2RrXDg {
			border-top: 1px solid var(--background-modifier-accent);
			background: var(--background-modifier-accent);
			padding: 10px;
			border-radius: 10px;
			margin: 10px;

			&:hover,
			.peopleListItem-u6dGxF.active-2UF8Zh {
				background-color: var(--background-secondary);
			}
		}

		.body-16rSsp {
			.section-3G9aLW {
				.voiceSection-3CNgD8 {
					.voiceSectionDetails-3jGIB4 {
						.defaultColor-24IHKz {
							font-size: 11px;
						}
					}
				}

				.activitySection-20iylG {
					.defaultColor-24IHKz {
						font-size: 11px;
					}
				}
			}
		}

		.wrapper-2RrXDg {
			header {
				.defaultColor-24IHKz {
					font-size: 12px;
				}
				.textContent-TsKzji {
					font-size: 11px;
				}
			}
		}
	}
}
