#app-mount {
	.sidebar-1tnWFu {
		+ div {
			margin: var(--pox-default-padding);
			border-radius: var(--pox-default-rounding);
			background-color: rgba(0, 0, 0, 0);
		}
	}

	.headerBar-1dSpQr {
		margin-bottom: var(--pox-default-padding);
		border-radius: var(--pox-default-rounding);

		&::before {
			box-shadow: none;
			border-color: none;
		}
	}

	.scroller-29cQFV {
		border-radius: var(--pox-default-rounding);
		background-color: var(--background-primary);
	}

	.ctaBar-Nhk8yY {
		background-color: var(--background-tertiary);
	}
}

.root-2zfUH6.enterDone-menWZ8 {
	.tierBody-3ju-rc,
	.perk-19D_HN {
		background-color: var(--background-tertiary);
	}

	.closeButton-PCZcma {
		border: none;
	}
	.keybind-13vtq8 {
		display: none;
	}
}

.perksModal-CLcR1c {
	background-image: none !important;
	background-color: var(--pox-app-background) !important;
}
