.sidebarRegion-1VBisG,
.sidebarRegionScroller-FXiQOh {
	display: flex;
	justify-content: space-around;
	max-width: 260px !important;
}

#app-mount {
	.layer-86YKbF {
		.standardSidebarView-E9Pc3j {
			.notificationSettings-1U0JsJ {
				max-width: 45%;
			}

			.option-2eIyOn,
			.searchBox-pyIJJj {
				transition: 0.2s ease;
			}

			background-color: var(--background-tertiary);

			.sidebarRegion-1VBisG {
				margin: 15px;
				border-radius: var(--pox-default-rounding);
				background-color: var(--background-primary);

				.sidebarRegionScroller-FXiQOh {
					background-color: transparent;

					.sidebar-nqHbhN {
						.side-2ur1Qk {
							.item-3XjbnG {
								font-size: 12px;

								&.selected-g-kMVV {
									border-left: 2px solid
										var(--brand-experiment);
									border-right: 2px solid
										var(--brand-experiment);
								}
							}
						}
					}
				}
			}

			.contentRegion-3HkfJJ {
				margin: 15px 15px 15px 0;
				border-radius: var(--pox-default-rounding);
				background-color: var(--background-primary);

				.contentRegionScroller-2_GT_N {
					background-color: transparent;

					.tools-kIrEGr {
						right: 50px;
						top: 55px;
					}

					.tierHeaderUnlocked-1OpOLf {
						background-color: var(--background-secondary-alt);
					}

					.tierBody-1d3UiS {
						background-color: var(--background-secondary);
					}
				}

				.contentTransitionWrap-1YD530 {
					.contentColumn-1C7as6.contentColumnDefault-3eyv5o#my-account-tab {
						.colorStandard-1Xxp1s.size14-k_3Hy4.description-30xx7u.formText-2ngGjI.marginBottom8-emkd0_.modeDefault-2fEh7a {
							filter: blur(4px);
							transition: filter 0.25s;

							&:hover {
								filter: blur(0);
								transition: filter 0.25s;
							}
						}
					}
				}
			}
		}
	}

	.children-1xdcWE {
		.accountProfileCard-lbN7n- {
			max-width: 750px;

			.background-3d_SjE .fieldList-in8WkP {
				filter: blur(100px);
				transition: filter 0.25s;

				&:hover {
					background: transparent;
					filter: blur(0);
					transition: filter 0.25s;
				}
			}
		}

		.authedApp-8q3NA9,
		.cardPrimary-3qRT__ {
			background: var(--background-secondary);
		}

		.accountList-Wii_T5,
		.connection-YOVI9j {
			border: 1px solid var(--background-tertiary);

			.integration-1qC-fv {
				box-shadow: inset 0 0 3px var(--background-tertiary);
			}
		}

		.children-1xdcWE {
			.container-1zDvAE {
				padding: 10px;
				margin: 5px;
				background: var(--background-secondary);
				border: 1px solid var(--background-tertiary);
				border-radius: var(--pox-app-rounding);

				.divider-_0um2u.dividerDefault-3C2-ws {
					border: none;
					margin: 0;
				}
			}
		}
	}

	.contentColumnDefault-3eyv5o {
		.codeRedemptionRedirect-2hYMSQ {
			background: var(--background-secondary);
		}
	}

	.contentColumn-1C7as6,
	.customColumn-2n-oKU,
	.hero-1aNo0v {
		max-width: unset;
	}

	.contentColumn-1C7as6 {
		.divider-_0um2u {
			border: none;
		}

		.children-1xdcWE {
			.defaultKeybind-1rEiTa,
			.itemFilled-1cPbtg {
				padding: 10px;
				margin: 5px;
				background: var(--background-secondary);
				border: 1px solid var(--background-tertiary);
				border-radius: var(--pox-app-rounding);
			}
		}

		.container-1zDvAE {
			.labelRow-2jl9gK {
				padding: 10px;
				margin: 5px;
				background: var(--background-secondary);
				border: 1px solid var(--background-tertiary);
				box-shadow: 0 0 4px var(--background-tertiary);
				border-radius: var(--pox-app-rounding);
			}
		}
	}
}

.bd-addon-list {
	&.bd-grid-view {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	}

	.bd-addon-card {
		position: relative;
		margin-bottom: 8px;
		background: var(--background-secondary);
		overflow: visible;
	}

	.bd-addon-header {
		background: 0 0;
		padding-left: 0;
		//border: 5px solid var(--background-primary);
	}

	.bd-addon-card {
		&:hover .bd-addon-header {
			max-width: calc(100% - 112px);
		}

		> :not(.bd-addon-header) {
			display: none;
		}
	}

	.bd-icon,
	.bd-footer .bd-addon-button {
		display: none;
	}

	.bd-title {
		margin-left: 32px;
		z-index: 1;

		.bd-meta {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	.bd-addon-card .bd-footer {
		position: absolute;
		padding: 0 16px 0 8px;
		height: 100%;
		display: flex;
		width: 100%;
		overflow: visible;
		justify-content: flex-end;
	}

	.bd-footer > * {
		z-index: 3;
	}

	.bd-addon-card:hover .bd-controls {
		display: flex;

		.bd-addon-button {
			display: flex;
		}
	}

	.bd-footer .bd-links {
		top: 53px;
		position: absolute;
		left: 8px;
	}

	&.bd-grid-view .bd-footer .bd-links {
		top: 63px;
	}

	.bd-footer .bd-link {
		color: var(--interactive-normal);

		&:hover {
			color: white;
		}
	}

	.bd-controls > {
		.bd-addon-button {
			border-radius: var(--pox-default-rounding);

			&:first-of-type {
				border-radius: var(--pox-default-rounding);
			}
		}

		.bd-button:last-of-type {
			border-radius: var(--pox-default-rounding);
		}
	}

	.bd-button:not(:hover) {
		background: 0 0;
	}

	.bd-controls > .bd-addon-button {
		svg {
			fill: var(--interactive-normal);
		}

		&:hover svg {
			fill: white;
		}
	}

	.bd-addon-button.bd-button-danger {
		&:hover {
			background: hsl(
				359,
				calc(var(--saturation-factor, 1) * 82.6%),
				59.4%
			);
		}

		svg {
			fill: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
			transform: scale(1.2);
		}

		&:hover svg {
			fill: white;
		}
	}

	.bd-addon-card {
		.bd-description-wrap {
			transform: scale(1);
			transition: transform 0.2s;
			transition-delay: 2s;
		}

		&:hover {
			.bd-description-wrap,
			.bd-footer .bd-links .bd-addon-button {
				display: flex;
				opacity: 0;
				transform: scale(0.9);
				transform-origin: top center;
				animation: tooltipBottom 0.1s 1s forwards,
					bdDescriptionVisibility 0s 1s forwards;
				visibility: hidden;
			}
		}
	}

	.bd-description-wrap {
		position: absolute;
		flex: unset;
		padding: unset;
		margin: 48px 0 0 -4px;
		max-width: 300px;
		z-index: 3;
		padding: calc(var(--pox-default-padding) / 2) var(--pox-default-padding);
		border-radius: var(--pox-default-rounding);
		background: var(--background-secondary);
		color: var(--text-normal);
		border: 1px solid var(--background-tertiary);
		filter: drop-shadow(0 0 5px var(--background-tertiary));
		box-shadow: inset 0 0 2px var(--background-tertiary);
	}

	&.bd-grid-view .bd-description-wrap {
		margin-top: 58px;
	}

	.bd-description {
		margin-bottom: unset;
		padding: calc(8px + 26px) 12px 8px 12px;
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
	}

	&.bd-grid-view .bd-description {
		padding-top: calc(8px + 26px);
	}

	.bd-switch {
		order: -1;
		position: static;

		input {
			top: 0;
		}

		.bd-switch-body {
			pointer-events: none;
			z-index: 1;
			transform: translateX(16px);
		}

		&.bd-switch-checked::after {
			border-radius: 5px;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		&:not(.bd-switch-checked) {
			&::after,
			&::before {
				border-radius: 5px;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
		}

		&.bd-switch-checked::after {
			background-image: linear-gradient(
					90deg,
					hsl(154deg 46% 49% / 5%) 10%,
					var(--background-tertiary) 50%,
					var(--background-tertiary) 100%
				),
				url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%2343b583' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
			animation: background-rotate forwards linear infinite 30s;
		}
	}

	.bd-addon-card {
		.bd-switch:not(.bd-switch-checked)::after {
			background: var(--background-secondary);
		}

		&:hover .bd-switch:not(.bd-switch-checked)::after {
			background: var(--background-modifier-hover);
		}

		.bd-switch:not(.bd-switch-checked)::before {
			z-index: 1;
			background: var(--background-secondary);
			opacity: 0.4;
		}

		&:hover .bd-switch:not(.bd-switch-checked)::before {
			display: none;
		}
	}
}

@keyframes bdDescriptionVisibility {
	to {
		visibility: visible;
	}
}

@keyframes tooltipBottom {
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.bd-switch input {
	&:checked + .bd-switch-body::after {
		content: '';
		width: 7px;
		height: 64px;
		background-color: var(--switch-color);
		position: absolute;
		left: -20px;
		top: -20px;
		filter: blur(1px);
		box-shadow: 0 0 80px var(--switch-color), 0 0 60px var(--switch-color),
			0 0 40px var(--switch-color), 0 0 20px var(--switch-color);
		border-radius: 0 10px 10px 0;
	}

	+ .bd-switch-body::after {
		content: '';
		width: 7px;
		height: 64px;
		background-color: #ccc;
		position: absolute;
		left: -20px;
		top: -20px;
		filter: blur(1px);
		box-shadow: 0 0 80px #ccc, 0 0 60px #ccc, 0 0 40px #ccc, 0 0 20px #ccc;
		border-radius: 0 10px 10px 0;
	}
}
