.typeWindows-2-g3UY {
	flex-direction: row;
	align-items: center;
	height: 30px;

	background: var(--background-tertiary);
	margin: 0 0 15px;
	border-radius: 0 0 calc(var(--pox-default-rounding) * 3) calc(var(--pox-default-rounding) * 3);

	border: 1px solid rgba(0 0 0 / 30%);
	border-top: none !important;
	box-shadow: inset 0 0 10px rgb(0 0 0 / 40%);

	.wordmark-2u86JB {
		position: relative;
		left: 10px;
		width: auto;
		height: auto;
		margin-right: auto;
		padding: 0;
		padding-bottom: 2px;
		background-size: 200% 200%;
		background-image: var(--pox-theme-gradient);

		&::before {
			content: var(--pox-theme-name);
			width: 100px;
			color: var(--text-normal);
			font-size: 10px;
			font-weight: bold;
			white-space: nowrap;
			text-transform: uppercase;
			background-color: var(--background-tertiary);
			letter-spacing: 2px;
			text-align: center;
			text-shadow: -6px -3px 25px var(--pox-theme-gradient-color-1), 6px 3px 25px var(--pox-theme-gradient-color-2);
		}

		svg {
			display: none;
		}
	}

	.winButton-3UMjdg {
		top: 0;
		right: 10px;
		width: 24px;
		height: 24px;
		transition: all 0.2s ease-in;
		padding: 3px;
		color: var(--text-normal);
		&:nth-child(2) {
			order: 4;
			margin-right: 8px;
			&:hover {
				color: hsla(var(--winbutton-close-background), 0.9);
				background-color: hsla(var(--winbutton-close-background), 0.5);
				box-shadow: inset 0 0 5px hsla(var(--winbutton-close-background), 0.7);
				svg {
					filter: drop-shadow(0 0 5px hsla(var(--winbutton-close-background), 0.7));
				}
			}
		}

		&:nth-child(3) {
			order: 3;
			&:hover {
				color: hsla(var(--winbutton-max-background), 0.9);
				background-color: hsla(var(--winbutton-max-background), 0.5);
				box-shadow: inset 0 0 5px hsla(var(--winbutton-max-background), 0.7);
				svg {
					filter: drop-shadow(0 0 5px hsla(var(--winbutton-max-background), 0.7));
				}
			}
		}

		&:nth-child(4) {
			order: 2;
			&:hover {
				color: hsla(var(--winbutton-min-background), 0.9);
				background-color: hsla(var(--winbutton-min-background), 0.5);
				box-shadow: inset 0 0 5px hsla(var(--winbutton-min-background), 0.7);

				svg {
					filter: drop-shadow(0 0 5px hsla(var(--winbutton-min-background), 0.7));
				}
			}
		}
	}
}
